<% provide(:title, 'GameInvitations-Index') %>

<div style="margin-top: 10px;">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Pending Game Invitations Sent</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>Game Name</th>
        <th>Invited Users</th>
        <th> &nbsp;&nbsp;</th>
      </tr>
      <% @game_invitations_sent.each do |game_invitation| %>
      <tr>
        <% if(game_invitation.game!=nil && game_invitation.user_player!=nil) %>
            <td><%= game_invitation.game.name %></td>
            <td><%= game_invitation.user_player.user_name %></td>
            <td><%= link_to "Cancel", game_invitations_path(game_inv_id: game_invitation.id), data: { confirm: 'Are you sure?' }, method: :delete %></td>

        <% end %>    
      </tr>
      <% end %>
  </table>
  </div>
</div>


<div style="margin-top: 10px;">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Pending Game Invitations Received</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>Game Name</th>
        <th>Dungeon Master</th>
        <th>Game Password</th>
        <th colspan=2 > &nbsp;&nbsp;</th>
      </tr>
      <% @game_invitations_received.each do |game_invitation| %>
      <tr>
        <td><%= game_invitation.game.name %></td>
      <td><%= game_invitation.dungeon_master.user_name %></td>
      <td><%= game_invitation.game_password %></td>
      <td><%= link_to "Accept", join_game_path({game_id: game_invitation.game.id, game_inv_id: game_invitation.id} ) %></td> 
      <td><%= link_to "Reject", game_invitations_path(game_inv_id: game_invitation.id), data: { confirm: 'Are you sure?' }, method: :delete %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>



  <div class="col-sm-12">
  <hr>
  <%= link_to "Go to User Home page",user_path(current_user) %>
</div>