<h1> Equipments List </h1>

<%= form_tag("/equipments") do %>
<%= hidden_field_tag(:player_character_id,  @player_character_id) %>
<table class="table">
	<tr>
		<th>&nbsp;</th>
		<th> Equipment Name </th>
		<th> Description </th>
		<th> Cost </th>
		
		
	</tr>


<% @equipments.each do |equipment| %>

<tr>
	<td><%= check_box_tag "ref_ids[]",equipment.ref_string %></td>
    <td><%= equipment.name %></td>
    <td><%= equipment.description %></td>
    <td><%= "#{equipment.cost}#{equipment.unit}" %></td>
  

</tr>
<% end %>
</table>
<%= submit_tag("Buy Equipment") %>&nbsp;<%= button_tag "Reset", type: :reset %>
<% end %>

<hr>
