<% provide(:title, 'Games-Index') %>

<div style="margin-top: 10px;">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"> My Active Games </div>

    <!-- Table -->
    <table class="table">
    <tr>
      <th>Game Name</th>
      <th>Dungeon Master</th>
      <th>Player Character</th>
      <th colspan=3 > &nbsp;&nbsp;</th>
    </tr>
    <% @user_owned_games.each do |game| %>
    <tr>
      <td><%= game.name %></td>
      <td>(me)</td>
      <% player_characters = '' 
        game.player_characters.each do |player_character|
          characterInfo = "#{player_character.name}(#{player_character.creator.user_name})"
          if player_characters.length == 0 
            player_characters = characterInfo
          else
            player_characters = "#{player_characters};#{characterInfo}"
          end
        end
          %>
      <td><%= player_characters %></td>
      <td><%= link_to "View", game_path(game),class: 'btn'  %></td>
      <td><%= link_to "Edit", edit_game_path(game),class: 'btn' %></td>
      <td><%= link_to "Delete", games_path(game_id: game.id), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn' %></td>
    </tr>
    <% end %>
    <% @games_playing.each do |game| %>
          <tr>
            <td><%= game.name %></td>
            <td><%= game.dungeon_master.user_name%></td>
            <% player_characters = '' 
                    game.player_characters.each do |player_character|
                          characterInfo = "#{player_character.name}(#{player_character.creator.user_name})"
                          characterInfo =  "<span style='font-weight:bold;'>#{characterInfo}</span>" if current_user == player_character.creator

                          if player_characters.length == 0 
                            player_characters = characterInfo
                          else
                            player_characters = "#{player_characters};#{characterInfo}"
                          end
                    end
                %>
            <td><%= raw player_characters %></td>
            <td><%= link_to "View", game_path(game),class: 'btn'  %></td>
            <td>&nbsp;</td>
            <td><%= link_to "Leave", game_path(:id => game.id, :user_id => current_user, :game_id => game.id), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn' %></td>
          </tr>
    <% end %>
    </table>
  </div>

</div>

<div class="col-sm-12">
	<hr>
	<%= link_to "Go to User Home page",user_path(current_user) %>
</div>