<h1>ARMOR And SHIELD</h1>

<%= form_tag("/armor_and_shields") do %>
<%= hidden_field_tag(:player_character_id,  @player_character_id) %>
<table class="table">
	<tr>
		<th>&nbsp;</th>
		<th> Armor Name </th>
		<th> Armor Type </th>
		<th> Disadvantage </th>
		<th> Cost </th>
		<th> Class </th>
	</tr>
<% @armor_and_shields.each do |arm| %>

<tr>
	<td><%= check_box_tag "ref_ids[]",arm.ref_string %></td>
    <td><%= arm.name %></td>
    <td><%= arm.armor_type %></td>
    <td><%= arm.disadvantage %></td>
    <td><%= "#{arm.cost}#{arm.unit}" %></td>
    <td><%= arm.armor_class %></td>   

</tr>
<% end %>
</table>
<%= submit_tag("Buy Armor & Shields") %>&nbsp;<%= button_tag "Reset", type: :reset %>
<% end %>

<hr>

